$app-width: 960px;
$app-height: 600px;

$top-margin: 22px;
$bottom-margin: 40px;
$side-margin: 24px;

$text-clr: #2d2d2d;
$main-clr: #00cdc5;

body {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex {
  display: flex;
  &--column {
    flex-direction: column;
  }
  &--fill {
    flex: auto;
  }
  &--center-vh {
    justify-content: center;
    align-items: center;
  }
}
